@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  background-image: url("../assets/mobile/image-host.jpg");
  background-color: #2e364c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  color: white;
  background-blend-mode: multiply;
  overflow-x: hidden;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-image: url("../assets/tablet/image-host.jpg");
    background-size: contain;
    background-color: #121725;
    background-position: right top;
    background-blend-mode: normal;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  body {
    background-image: url("../assets/desktop/image-host.jpg");
    background-color: #121725;
    background-size: 60%;
    background-position: right 5% top 40%;
    background-blend-mode: normal;
    text-align: left;
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    justify-content: flex-start;
    padding: 5% 5% 20% 5%;
  }
}
@media (min-width: 1024px) {
  nav {
    justify-content: flex-start;
    padding: 5% 5% 10% 10%;
  }
}

.main {
  display: flex;
  flex-direction: column;
}
.main .hero-text {
  padding: 5%;
}
.main .hero-text .white-text {
  color: white;
}
.main .hero-text h1 {
  color: #54E6AF;
  font-size: 1.75rem;
  font-weight: 100;
  line-height: 2.5rem;
  opacity: 0.8;
}
.main .hero-text p {
  font-size: 0.9rem;
  font-weight: 100;
  line-height: 1.5rem;
  padding: 5% 0;
  opacity: 0.55;
}
.main .clients {
  order: 1;
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.main .clients img {
  max-width: 15%;
}
.main .form {
  order: 2;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.main .form .email {
  width: 100%;
  margin: 5% 5% 0 5%;
  background-color: white;
  color: white;
  font-weight: 600;
  width: 100%;
  padding: 0.8rem;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  color: black;
  cursor: auto;
}
.main .form .email:hover {
  opacity: 0.5;
}
.main .form .email:hover {
  opacity: 1;
}
.main .form .submit-btn {
  margin: 5% 5% 0 5%;
  background-color: #54E6AF;
  color: white;
  font-weight: 600;
  width: 100%;
  padding: 0.8rem;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  color: black;
}
.main .form .submit-btn:hover {
  opacity: 0.5;
}
.main .form.error .error-message {
  display: block;
}
.main .form.error {
  border-width: 2px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    background-color: #121725;
    margin-right: 20%;
  }
  .main .hero-text h1 {
    font-size: 2.5rem;
  }
  .main .hero-text p {
    font-size: 0.9rem;
    font-weight: 100;
    line-height: 1.5rem;
    padding: 5% 30% 0% 0;
    opacity: 0.6;
  }
  .main .clients {
    order: 2;
  }
  .main .form {
    order: 1;
    align-items: flex-start;
  }
  .main .form .input-email-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    gap: 0;
    border: 1px solid #2C344B;
  }
  .main .form .input-email-btn:hover {
    border-color: white;
  }
  .main .form .email {
    margin: 0;
    cursor: auto;
    background-color: #2C344B;
    color: white;
  }
  .main .form .email:hover {
    border: none;
    outline: none;
    opacity: 1;
  }
  .main .form .email:focus {
    outline: none;
  }
  .main .form .submit-btn {
    margin: 5% 5% 0 5%;
    background-color: #54E6AF;
    color: white;
    font-weight: 600;
    width: 60%;
    padding: 0.8rem;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin: 0;
    border: 3px solid #2C344B;
    margin-left: -15%;
    color: black;
  }
  .main .form .submit-btn:hover {
    opacity: 0.5;
  }
  .main .form .submit-btn:hover {
    opacity: 1;
  }
}
@media (min-width: 1024px) {
  .main {
    background-color: #121725;
    margin-right: 40%;
    margin-left: 10%;
  }
  .main .hero-text h1 {
    color: #54E6AF;
    font-size: 2.5rem;
    font-weight: 100;
    line-height: 3rem;
    opacity: 1;
  }
  .main .hero-text p {
    font-size: 0.9rem;
    font-weight: 100;
    line-height: 1.5rem;
    padding: 5% 30% 0 0;
    opacity: 0.6;
  }
  .main .clients {
    padding-bottom: 5%;
    order: 2;
  }
  .main .form {
    order: 1;
    align-items: flex-start;
  }
  .main .form .input-email-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    gap: 0;
    border: 1px solid #2C344B;
  }
  .main .form .input-email-btn:hover {
    border-color: white;
  }
  .main .form .email {
    margin: 0;
    cursor: auto;
    background-color: #2C344B;
    color: white;
  }
  .main .form .email:hover {
    border: none;
    outline: none;
    opacity: 1;
  }
  .main .form .email:focus {
    outline: none;
  }
  .main .form .submit-btn {
    margin: 5% 5% 0 5%;
    background-color: #54E6AF;
    color: white;
    font-weight: 600;
    width: 60%;
    padding: 0.8rem;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin: 0;
    border: 3px solid #2C344B;
    margin-left: -15%;
    color: black;
  }
  .main .form .submit-btn:hover {
    opacity: 0.5;
  }
  .main .form .submit-btn:hover {
    opacity: 1;
  }
}

.bg-pattern-tablet {
  display: none;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .bg-pattern-tablet {
    order: 3;
    padding: 5%;
    display: flex;
  }
}
@media (min-width: 1024px) {
  .bg-pattern-tablet {
    display: none;
  }
}

.bg-pattern-desktop {
  display: none;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .bg-pattern-desktop {
    display: none;
  }
}
@media (min-width: 1024px) {
  .bg-pattern-desktop {
    margin-top: -7.5%;
    padding: 0 1% 5% 1%;
    display: flex;
    justify-content: flex-end;
  }
}

.error-message {
  color: red;
  text-align: left;
  padding-left: 10px;
  display: none;
}/*# sourceMappingURL=styles.css.map */